.photo-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 284px);
    gap: 16px 16px;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 92px;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 14px 14px;
    }    
}
@media screen and (max-width: 900px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 352px);
        gap: 16px 16px;
        padding-bottom: 88px;
    }    
}
@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 288px);
        gap: 12px 12px;
        padding-bottom: 64px;
    }    
}