.place {
    max-width: 984px;
    margin: 0;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        grid-gap: 48px 32px;
    }    
}
@media screen and (max-width: 900px) {
    .place {
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-gap: 48px 28px;
    }    
}
@media screen and (max-width: 500px) {
    .place {
        max-width: 320px;
        grid-template-columns: repeat(1, minmax(320px, 1fr));
        grid-gap: 32px 32px;
        padding-bottom: 50px;
    }    
}
@media screen and (max-width: 500px) {
    .place.place:last-child {
        padding-bottom: 66px;
    }    
}