.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    color: #FFFFFF;
    max-width: 460px;
    max-height: 152px;
    margin: 0;
}
@media screen and (max-width: 900px) {
    .place__title {
        font-size: 42px;
        max-width: 340px;
    }    
}
@media screen and (max-width: 500px) {
    .place__title {
        font-size: 32px;
        max-width: 320px;
        margin-left: 16px;
        margin-right: 16px;
        grid-row: 1;
        grid-column: 1;
    }    
}