.footer__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}
.footer__link:hover {
    opacity: .8;
}
@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 32px;
    }
}