.lead__image {
    max-width: 984px;
    max-height: 615px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
    }    
}
@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 768px;
        max-height: 480px;
    }    
}