.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 1.2;
        padding-top: 16px;
    }    
}