.cover__overlay {
    max-width: 1184px;
    width: 100%;
    height: 740px;
    background-size: cover;
    background-position: left top;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 44, 47, 0.3);
    text-decoration: none;
}
.cover__overlay:hover {
    background-color: rgb(42, 44, 47, 0.8);
}
@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        width: 100%;
        height: 640px;
    }    
}
@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        width: 100%;
        height: 480px;
    }    
}