.place {
    max-width: 984px;
    margin: 0;
    padding-bottom: 92px;
    display: grid;
    grid-template-columns: 460px auto;
    grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px auto;
        grid-gap: 48px 32px;
    }    
}
@media screen and (max-width: 900px) {
    .place {
        max-width: 720px;
        grid-template-columns: 340px auto;
        grid-gap: 48px 28px;
        padding-bottom: 65px;
    }    
}
@media screen and (max-width: 767px) {
    .place {
        max-width: 320px;
        grid-template-columns: 320px;
        grid-gap: 32px;
        padding-bottom: 50px;
    }    
}
@media screen and (max-width: 767px) {
    .place.place:last-child {
        padding-bottom: 41px;
    }    
}