.footer {
    max-width: 1184px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        padding-bottom: 24px;
    }    
}
@media screen and (max-width: 900px) {
    .footer {
        max-width: 720px;
        padding-top: 88px;
        padding-bottom: 24px;
    }    
}
@media screen and (max-width: 500px) {
    .footer {
        max-width: 186px;
        padding-top: 64px;
        flex-direction: column;
        margin-left: 16px;
    }
}