.place__paragraph-text {
    max-width: 484px;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .place__paragraph-text {
        max-width: 456px;
    }    
}
@media screen and (max-width: 900px) {
    .place__paragraph-text {
        max-width: 352px;
    }    
}
@media screen and (max-width: 767px) {
    .place__paragraph-text {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }    
}