.intro__title {
    margin: 0;
    margin-left: 148px;
    padding-top: 92px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 690px;
    width: 100%;
}